-- CreateTable
CREATE TABLE "User" (
    "id" SERIAL NOT NULL,
    "email" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "countryCode" TEXT NOT NULL,
    "name" TEXT,
    "state" TEXT,
    "city" TEXT[],
    "environment" TEXT,
    "education1" TEXT[],
    "education2" TEXT[],
    "family" TEXT,
    "employment1" TEXT[],
    "employment2" TEXT[],
    "socialLife" TEXT[],
    "hobbies" TEXT[],
    "transportation" TEXT[],
    "pets" TEXT[],
    "greenSpace" TEXT[],
    "shopping" TEXT[],
    "restaurants" TEXT[],
    "occupancy" TEXT,
    "property" TEXT,
    "timeframe" TEXT,
    "priceRange" TEXT,
    "downPayment" TEXT,
    "employmentStatus" TEXT,
    "grossAnnual" INTEGER,
    "credit" TEXT,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OtpCode" (
    "id" SERIAL NOT NULL,
    "code" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "countryCode" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "userId" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "attempts" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "OtpCode_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- AddForeignKey
ALTER TABLE "OtpCode" ADD CONSTRAINT "OtpCode_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

